---
import H1 from "../../components/h1.astro";
import InfoLayout from "../../layouts/InfoLayout.astro";
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1> Blog </H1>
  </div>
</InfoLayout>
