---
import H1 from "../../components/h1.astro";
import InfoLayout from "../../layouts/InfoLayout.astro";
import { getCollection, render } from "astro:content";

const allArticles = await getCollection("articles");
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1> Blog </H1>

    <ul class="mt-8 space-y-6">
      {
        allArticles.map((article) => (
          <li class="group">
            <a href={`/blog/${article.data.slug}`}>
              <h2 class="text-xl text-zinc-50 group-hover:text-white underline underline-offset-2 decoration-transparent group-hover:decoration-zinc-500">
                {article.data.title}
              </h2>
              <p class="mt-0.5 text-sm text-zinc-400">{article.data.author}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</InfoLayout>
