---
import AvailableForWork from "../components/available.astro";
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import Navigation from "../components/navigation";
import RootLayout from "../layouts/RootLayout.astro";
import ReleaseGrid from "../components/release-grid.astro";
import Footer from "../components/footer.astro";
import WarpBackground from "../components/warp-background";
import { PatternShapes } from "@paper-design/shaders-react";
---

<RootLayout>
  <main>
    <div
      class="group relative w-full min-h-dvh flex items-center justify-center"
    >
      <div class="absolute w-full h-dvh -z-10">
        <img
          src={"/background.jpg"}
          alt="Background"
          style={{
            position: "absolute",
            top: 0,
            left: 0,
            width: "100%",
            height: "100%",
            objectFit: "cover",
            pointerEvents: "none",
            opacity: 0.85,
          }}
        />
        <WarpBackground
          color1="#4b4b4b"
          color2="#27272a"
          color3="#52525b"
          proportion={0.67}
          distortion={0.0}
          softness={0.5}
          swirl={0.15}
          speed={0.8}
          shape={PatternShapes.Stripes}
          swirlIterations={0}
          shapeScale={0.74}
          scale={0.76}
          rotation={0.5}
          imageUrl="/background.jpg"
          client:load
        />
      </div>

      <div
        class="p-4 sm:p-8 absolute w-full h-dvh flex flex-col justify-between z-10"
      >
        <div>
          <H1 size="large"> The Burrell <br /> Connection </H1>
        </div>

        <div>
          <AvailableForWork className="py-4" />
          <div
            class="mb-2 sm:mb-4 flex-row items-start w-full flex-wrap gap-4 hidden sm:flex"
          >
            <Link href="#about">About</Link>
            <Link href="#releases">Releases</Link>
            <Link href="#mixes">Mixes</Link>
            <Link href="#contact">Contact</Link>
          </div>

          <div class="flex sm:hidden mb-2 sm:mb-4">
            <Navigation client:load>
              <Link href="/blog" variant="secondary">Blog</Link>
              <Link href="/about" variant="secondary">About</Link>
              <Link href="/contact" variant="secondary">Contact</Link>
            </Navigation>
          </div>
        </div>
      </div>
    </div>
  </main>

  <hr class="text-white" />

  <!-- ABOUT SECTION -->

  <div
    id="about"
    class="p-4 sm:pt-16 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32"
  >
    <div class="space-y-4 sm:space-y-12">
      <H1>About The Burrell Connection </H1>

      <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
        <a
          href="theburrellconnection.com"
          target="_blank"
          class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200"
        >
          The Burrell Connection
        </a>
      </p>
    </div>

    <div class="space-y-2 text-base sm:text-lg">
      <h2
        class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
      >
        Achievements
      </h2>

      <!-- <ul class="px-4 text-zinc-400 list-disc list-outside">
          <li>Alternating Current (AC) System</li>
          <li>Tesla Coil</li>
          <li>Induction Motor</li>
          <li>Wireless Transmission</li>
          <li>Radio and Remote Control</li>
          <li>Hydroelectric Power at Niagara Falls</li>
          <li>X-Ray Imaging</li>
        </ul> -->
    </div>
  </div>

  <!-- Releases -->
  <hr class="text-white" />

  <div class="py-8 px-4 sm:pt-16 sm:px-12 pb-20 min-h-dvh" id="releases">
    <H1>Releases</H1>

    <ReleaseGrid />
  </div>

  <!-- Mixes -->

  <hr class="text-white" />

  <div class="py-8 px-4 sm:pt-16 sm:px-12 pb-20 min-h-dvh" id="mixes">
    <H1>Mixes</H1>

    <ReleaseGrid />
  </div>

  <!-- Contact -->

  <hr class="text-white" />

  <div class="py-8 px-4 sm:pt-16 sm:px-12 pb-20 min-h-dvh" id="contact">
    <H1>Contact</H1>
    <p class="text-zinc-100 mt-4 sm:text-lg">Contact information</p>
  </div>
</RootLayout>

<Footer />
