---
import { PatternShapes } from "@paper-design/shaders-react";
import AvailableForWork from "../components/available.astro";
import Footer from "../components/footer.astro";
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import MixesGrid from "../components/mixes-grid.astro";
import Navigation from "../components/navigation";
import ReleaseGrid from "../components/release-grid.astro";
import WarpBackground from "../components/warp-background";
import RootLayout from "../layouts/RootLayout.astro";

import { getEntry, render } from "astro:content";
import Prose from "../components/prose.astro";
import IndexSection from "../components/index-section.astro";

const about = await getEntry("pages", "about");

if (!about) {
  return new Response("About page not found", { status: 404 });
}

const { Content: About } = await render(about);

const contact = await getEntry("pages", "contact");

if (!contact) {
  return new Response("Contact page not found", { status: 404 });
}

const { Content: Contact } = await render(contact);

const tuition = await getEntry("pages", "tuition");

if (!tuition) {
  return new Response("Tuition page not found", { status: 404 });
}

const { Content: Tuition } = await render(tuition);
---

<RootLayout>
  <main>
    <div
      class="group relative w-full min-h-dvh flex items-center justify-center"
    >
      <div class="absolute w-full h-dvh -z-10">
        <img
          src={"/background.jpg"}
          alt="Background"
          style={{
            position: "absolute",
            top: 0,
            left: 0,
            width: "100%",
            height: "100%",
            objectFit: "cover",
            pointerEvents: "none",
            opacity: 0.85,
          }}
        />
        <WarpBackground
          color1="#4b4b4b"
          color2="#27272a"
          color3="#52525b"
          proportion={0.67}
          distortion={0.0}
          softness={0.5}
          swirl={0.15}
          speed={0.8}
          shape={PatternShapes.Stripes}
          swirlIterations={0}
          shapeScale={0.74}
          scale={0.76}
          rotation={0.5}
          imageUrl="/background.jpg"
          client:load
        />
      </div>

      <div
        class="p-4 sm:p-8 absolute w-full h-dvh flex flex-col justify-between z-10"
        id="home"
      >
        <div>
          <H1 size="large"> The Burrell <br /> Connection </H1>
        </div>

        <div>
          <AvailableForWork className="py-4" />
          <div
            class="mb-2 sm:mb-4 flex-row items-start w-full flex-wrap gap-4 hidden sm:flex"
          >
            <Link href="#about">About</Link>
            <Link href="#releases">Releases</Link>
            <Link href="#mixes">Mixes</Link>
            <Link href="#tution">Tution</Link>
            <Link href="#contact">Contact</Link>
          </div>

          <div class="flex sm:hidden mb-2 sm:mb-4">
            <Navigation client:load>
              <Link href="/blog" variant="secondary">Blog</Link>
              <Link href="/about" variant="secondary">About</Link>
              <Link href="#tution" variant="secondary">Tution</Link>
              <Link href="/contact" variant="secondary">Contact</Link>
            </Navigation>
          </div>
        </div>
      </div>
    </div>
  </main>

  <hr class="text-white" />

  <!-- ABOUT SECTION -->

  <IndexSection id="about" title="About The Burrell Connection">
    <Prose>
      <About />
    </Prose>
  </IndexSection>

  <hr class="text-white" />

  <IndexSection id="releases" title="Releases">
    <ReleaseGrid />
  </IndexSection>

  <hr class="text-white" />

  <IndexSection id="mixes" title="Mixes">
    <MixesGrid />
  </IndexSection>

  <hr class="text-white" />

  <IndexSection id="features" title="Features">
    <!-- <FeaturesGrid /> -->
  </IndexSection>

  <hr class="text-white" />

  <IndexSection id="tution" title="Tution">
    <Prose>
      <Tuition />
    </Prose>
  </IndexSection>

  <hr class="text-white" />

  <IndexSection id="contact" title="Contact">
    <Prose>
      <Contact />
    </Prose>
  </IndexSection>
</RootLayout>

<Footer />
