---
import H1 from "./h1.astro";

const { id, title } = Astro.props;
---

<div
  class="py-8 px-4 sm:pt-16 px-12 pb-20 min-h-dvh space-y-4 sm:space-y-12"
  id={id}
>
  <!-- Scroll back to /#home -->
  <a href="/#home" class="block text-lg text-zinc-400 hover:text-zinc-200 mb-8">
    &larr; Back to Home
  </a>

  <H1>{title}</H1>

  <!-- Content from prop -->
  <slot />
</div>
